.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.container input,
.container textarea {
    width: 60%;
}
